@import url('https://fonts.googleapis.com/css2? family= Chakra+Petch:ital@1 & display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Chakra Petch', sem serifa;;
    color: white;
}
body{
    background-image: url(imagens/fundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
#conteiner{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.537);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}
h1{
    position: absolute;
    top: 45px;
    
}
.email{
    position: absolute;
    top: 140px;

}
.senha{
    position: absolute;
    top: 200px;
}
.links{
    position: absolute;
    display: flex;
    top: 260px;
    flex-direction: row;
    align-content:flex-start;
    

}
button{
    position: absolute;
    top: 320px;
    width: 280px;
    padding: 10px;
    border-radius: 50px;
    background-image: linear-gradient(to right,green, lightgreen);
    font-size: 1.3em;
}
button:hover{
    background-image: linear-gradient(to right,lightgreen,green);
}
#email{
    padding: 10px;
    width: 300px;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid  green;
    border-left: 3px solid green ;
    border-radius: 50px;

}
#senha{
    padding: 10px;
    width: 300px;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid  green;
    border-left: 3px solid green;
    border-radius: 50px;

}
label{
    position: absolute;
    left: 20px;
    top: 8px;
}
#lembrar{
    position:absolute ;
    top: 20px;
    left: -150px;
}
p{
    position:absolute ;
    top: 17px;
    left: -130px;
}
a{
    position:absolute ;
    top: 20px;
    left: 10px;
    width: 150px;
}