@import url('https://fonts.googleapis.com/css2? family= Chakra+Petch:ital@1 & display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Chakra Petch', sem serifa;;

}
body{
    background-image:url(imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
}
.principal{
    position:absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.726);
    transform: translate(-50%,-50%);
    padding: 40px;
    color: white;
    border-radius: 40px;
    

}
h1{
    color: white;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;

}
.perg input{
    position: relative;
    width: 100%;
    font-weight: bold;
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 3px solid green;
    border-radius: 50px;

    margin-bottom: 20px;

}
label{
    position: absolute;
    transform:translate(10px,10px)
}
input:active + label{
    transform: translate(-10px,-10px);
    transition: .2s ease-in-out;
}

.links{
    margin-top: 20px;
    margin-bottom: 30px;

}
a{
    margin-left: 15px;
    color: white;
}
.butao{
    text-align: center;

}
button{
    width: 100%;
    padding: 8px;
    font-weight: bold;
    font-size: 20px;
    background-image: linear-gradient(to left,green ,lightgreen);
    border-radius: 30px;
    border: none;
    outline: none;
    transition: 1s;

}
button:hover{
    background-image: linear-gradient(to left,lightgreen,green);
    transition: 1s;

}
